@use "../../presets" as *;
@use "../../mixins" as *;

.post-item {
  background-color: $color-gray-light-2;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($color-gray-light-2, 5%);

    a {
      color: $color-primary;
    }

    img {
      transform: scale(1.05);
    }
  }

  &__image {
    width: 100%;
    transition: transform 0.3s;
    display: block;
    object-fit: cover;
  }

  &__picture {
    overflow: hidden;
    height: 300px;
    display: flex;
  }

  &__link {
    color: inherit;
    transition: color 0.3s;
  }

  &__content {
    line-height: 1.25;
    text-align: center;
    padding: $gap-lg $gap;
  }
}

@for $i from 1 through 6 {
  .post-item:nth-of-type(#{$i}) {
    grid-area: p#{$i};
  }
}
